<div [formGroup]="form">
  <label class="block mt-4" [attr.for]="question.key">
    <span class="text-gray-700">{{question.label}}</span>

    <div [ngSwitch]="question.controlType">

      <input *ngSwitchCase="'text'" [formControlName]="question.key" [id]="question.key" [type]="question.controlType"
        [placeholder]="question.placeholder" [class]="question.class">

      <select *ngSwitchCase="'dropdown'" [formControlName]="question.key" [id]="question.key" [class]="question.class">
        <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
      </select>

    </div>
  </label>

  <div class="errorMessage" *ngIf="!isValid"
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2">'{{question.label}}' is
    required</div>
</div>