<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions" class="form-row">
      <app-question [question]="question" [form]="form"></app-question>
    </div>

    <div class="mt-4">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit"
        [disabled]="!form.valid">
        Verzenden
      </button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Verzonden</strong><br>
  </div>
</div>