<!-- Voertuigselectie en het subtype vind ik logisch onder elkaar. Daarom heb ik ze bij elkaar gehouden.-->
<label class="block mt-4">
  <span class="text-gray-700">Van welk type voertuig wilt u voertuiginformatie opzoeken?</span>
  <select class="block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" name="vehicle-type">
    <option>Auto</option>
    <option>Motor</option>
    <option>Scooter</option>
  </select>
</label>

<label class="block mt-4">
  <span class="text-gray-700">Welk type [auto/motor/brommer] hebt u?</span>
  <select class="block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" name="vehicle-subtype">
    <option>Hatchback</option>
    <option>Sedan</option>
    <option>Station</option>
    <option>Cabriolet</option>
    <option>Coupé</option>
    <option>MPV</option>
    <option>Terreinauto</option>
  </select>
</label>
